- name: Create a jenkins job using basic authentication
  community.general.jenkins_job:
    config: "{{ lookup('file', 'templates/folder.xml') }}"
    name: test
    password: Admin123
    url: http://172.31.12.244:8080
    user: Admin